In [2]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import os

print(os.listdir("../data"))
PREC_PATH = "../data/preprocessed/{}.csv"
PATH = "../data/{}.csv"

games = pd.read_csv(PREC_PATH.format("games"))
details = pd.read_csv(PREC_PATH.format("details"))
players = pd.read_csv(PATH.format("players"))
ranking = pd.read_csv(PREC_PATH.format("rankings"))
teams = pd.read_csv(PATH.format("teams"))

['.gitattributes', 'games.csv', 'games_details.csv', 'players.csv', 'preprocessed', 'ranking.csv', 'teams.csv']

C:\Users\mathi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
type(teams)

pandas.core.frame.DataFrame

In [13]:
player_selection = details.groupby("player_name").mean()[["player_id", "pts"]].reset_index()\
    .merge(players, right_on="PLAYER_ID", left_on="player_id")\
    .sort_values("pts", ascending=False)\
    .drop_duplicates("player_name")\
    .head(100)\
    .merge(teams[["TEAM_ID", "ABBREVIATION"]], on="TEAM_ID")\
    [["player_name", "player_id", "pts"]]

C:\Users\antom\miniconda3\lib\site-packages\pandas\core\reshape\merge.py:1204: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

In [16]:
player_selection.to_csv("../website/data/player_selection.csv")

In [15]:
os.listdir("../..")

['.idea',
 'datavis-project-2022-lebron-jenkins',
 'dataviz-exercise-02',
 'dataviz-exercise-03',
 'DataVizExercise01',
 'idea.txt',
 'intro.html']

# Teams

Take the teamId the name and the abreviation

In [12]:
coordinates = [(1610612737, 33.75725092895011, -84.39619973311765),
 (1610612738, 42.36610686544133, -71.06264504509178),
 (1610612740, 29.950485009327856, -90.08072646871527),
 (1610612741, 41.881968536545465, -87.6728455633052),
 (1610612742, 32.789894151360954, -96.8092592302266),
 (1610612743, 39.74958004618605, -105.00661578713809),
 (1610612745,29.750871888172558, -95.36167139097245 ),
 (1610612746, 34.04276826661928, -118.26669624321944),
 (1610612747, 34.04276826661928, -118.26669624321944),
 (1610612748, 25.7808987709237, -80.18623948495552),
 (1610612749, 43.045205319315365, -87.91665667747223),
 (1610612750, 44.979584391924476, -93.27553683777344),
 (1610612751, 40.682646169430356, -73.9755443855573),
 (1610612752, 40.75053668021922, -73.99313833210212),
 (1610612753, 28.539371922106323, -81.38441144428242),
 (1610612754, 39.76381215213423, -86.15605172410166),
 (1610612755, 39.90123409349528, -75.17090665637734),
 (1610612756, 33.44605897210844, -112.07107159689456),
 (1610612757, 45.53140421236139, -122.66711521703822),
 (1610612758, 38.58017062553036, -121.50008939400314),
 (1610612759, 29.427019813868597, -98.43815188998576),
 (1610612760, 35.463704015112775, -97.51550008012),
 (1610612761, 43.643465766008646, -79.37961392206583),
 (1610612762, 40.76774773159542, -111.90147367756563),
 (1610612763, 35.13775544220234, -90.05110142629135),
 (1610612764, 38.8980001758342, -77.0211572478214),
 (1610612765, 42.34072161638615, -83.0549240159282),
 (1610612766, 35.22455561049105, -80.83926239612208),
 (1610612739, 41.49641849438575, -81.68857242321435),
 (1610612744, 37.76801468162943, -122.38730084231904)]

df_coord = pd.DataFrame(coordinates,columns =['TEAM_ID', 'LATITUDE', 'LONGITUDE'])

In [13]:
teams_summary = teams[['TEAM_ID','ABBREVIATION', 'NICKNAME']].merge(df_coord, right_on="TEAM_ID", left_on="TEAM_ID")
teams_summary.to_csv("../website/data/teams_summary.csv")
teams_summary

       TEAM_ID ABBREVIATION       NICKNAME   LATITUDE   LONGITUDE
0   1610612737          ATL          Hawks  33.757251  -84.396200
1   1610612738          BOS        Celtics  42.366107  -71.062645
2   1610612740          NOP       Pelicans  29.950485  -90.080726
3   1610612741          CHI          Bulls  41.881969  -87.672846
4   1610612742          DAL      Mavericks  32.789894  -96.809259
5   1610612743          DEN        Nuggets  39.749580 -105.006616
6   1610612745          HOU        Rockets  29.750872  -95.361671
7   1610612746          LAC       Clippers  34.042768 -118.266696
8   1610612747          LAL         Lakers  34.042768 -118.266696
9   1610612748          MIA           Heat  25.780899  -80.186239
10  1610612749          MIL          Bucks  43.045205  -87.916657
11  1610612750          MIN   Timberwolves  44.979584  -93.275537
12  1610612751          BKN           Nets  40.682646  -73.975544
13  1610612752          NYK         Knicks  40.750537  -73.993138
14  1610612753          ORL          Magic  28.539372  -81.384411
15  1610612754          IND         Pacers  39.763812  -86.156052
16  1610612755          PHI          76ers  39.901234  -75.170907
17  1610612756          PHX           Suns  33.446059 -112.071072
18  1610612757          POR  Trail Blazers  45.531404 -122.667115
19  1610612758          SAC          Kings  38.580171 -121.500089
20  1610612759          SAS          Spurs  29.427020  -98.438152
21  1610612760          OKC        Thunder  35.463704  -97.515500
22  1610612761          TOR        Raptors  43.643466  -79.379614
23  1610612762          UTA           Jazz  40.767748 -111.901474
24  1610612763          MEM      Grizzlies  35.137755  -90.051101
25  1610612764          WAS        Wizards  38.898000  -77.021157
26  1610612765          DET        Pistons  42.340722  -83.054924
27  1610612766          CHA        Hornets  35.224556  -80.839262
28  1610612739          CLE      Cavaliers  41.496418  -81.688572
29  1610612744          GSW       Warriors  37.768015 -122.387301

# Games

In [15]:
games[['SEASON']].drop_duplicates("SEASON").sort_values("SEASON", ascending=False)

           SEASON
0      2021-01-01
1076   2020-01-01
2325   2019-01-01
18698  2018-01-01
20076  2017-01-01
21458  2016-01-01
22863  2015-01-01
24279  2014-01-01
3203   2013-01-01
4630   2012-01-01
6050   2011-01-01
7154   2010-01-01
8576   2009-01-01
10000  2008-01-01
11425  2007-01-01
12836  2006-01-01
14255  2005-01-01
15687  2004-01-01
17049  2003-01-01