In [2]:
import numpy as np
import pandas as pd

In [3]:
rankings = pd.read_csv("../data/preprocessed/rankings.csv")
rankings.head()

,standingsdate,index,team_id,season_id,standingsdate.1,conference,team,g,w,l,w_pct,home_record,road_record,rank
0,2003-10-01,84388,1610612742,22002,2003-10-01,West,Dallas,82,60,22,0.732,33-8,27-14,1
1,2003-10-01,84389,1610612759,22002,2003-10-01,West,San Antonio,82,60,22,0.732,33-8,27-14,2
2,2003-10-01,84390,1610612758,22002,2003-10-01,West,Sacramento,82,59,23,0.720,35-6,24-17,3
3,2003-10-01,84391,1610612750,22002,2003-10-01,West,Minnesota,82,51,31,0.622,33-8,18-23,4
4,2003-10-01,84393,1610612757,22002,2003-10-01,West,Portland,82,50,32,0.610,27-14,23-18,5

In [16]:
df = rankings[["standingsdate", "team_id", "conference", "rank"]]
df["year"] = rankings["standingsdate"].apply(lambda date: date[:4])
df.head()

<ipython-input-16-26243de870ad>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = rankings["standingsdate"].apply(lambda date: date[:4])

  standingsdate     team_id conference  rank  year
0    2003-10-01  1610612742       West     1  2003
1    2003-10-01  1610612759       West     2  2003
2    2003-10-01  1610612758       West     3  2003
3    2003-10-01  1610612750       West     4  2003
4    2003-10-01  1610612757       West     5  2003

In [17]:
df.query(" standingsdate == '2003-10-01'")

   standingsdate     team_id conference  rank  year
0     2003-10-01  1610612742       West     1  2003
1     2003-10-01  1610612759       West     2  2003
2     2003-10-01  1610612758       West     3  2003
3     2003-10-01  1610612750       West     4  2003
4     2003-10-01  1610612757       West     5  2003
5     2003-10-01  1610612765       East     6  2003
6     2003-10-01  1610612747       West     7  2003
7     2003-10-01  1610612751       East     8  2003
8     2003-10-01  1610612755       East     9  2003
9     2003-10-01  1610612754       East    10  2003
10    2003-10-01  1610612740       East    11  2003
11    2003-10-01  1610612762       West    12  2003
12    2003-10-01  1610612756       West    13  2003
13    2003-10-01  1610612738       East    14  2003
14    2003-10-01  1610612745       West    15  2003
15    2003-10-01  1610612749       East    16  2003
16    2003-10-01  1610612753       East    17  2003
17    2003-10-01  1610612760       West    18  2003
18    2003-10-01  1610612744       West    19  2003
19    2003-10-01  1610612752       East    20  2003
20    2003-10-01  1610612764       East    21  2003
21    2003-10-01  1610612737       East    22  2003
22    2003-10-01  1610612741       East    23  2003
23    2003-10-01  1610612763       West    24  2003
24    2003-10-01  1610612746       West    25  2003
25    2003-10-01  1610612748       East    26  2003
26    2003-10-01  1610612761       East    27  2003
27    2003-10-01  1610612743       West    28  2003
28    2003-10-01  1610612739       East    29  2003

In [18]:
df = df.set_index(["standingsdate", "team_id"])

In [19]:
df.to_csv("../data_web/rankings.csv")